.git
.github
.idea
.vscode
**/.DS_Store
**/.env
**/.env.*
**/node_modules
**/.next
**/build
**/coverage
**/vendor
apps/backend/bootstrap/cache/*.php
apps/backend/public/build
apps/backend/public/hot
apps/backend/public/storage
apps/backend/storage/logs/*.log
apps/backend/storage/framework/cache/data/*
apps/backend/storage/framework/sessions/*
apps/backend/storage/framework/views/*
